{% extends "base.html" %}
{% block content %}
    <P>确认删除页面</P>
<script type="text/javascript">
function show_confirm()
{
var r=confirm("确认是否要删除文件!");
if (r==true)
  {
  alert("执行文件删除操作!");
  return true;
  }
else
  {
  alert("取消删除操作!");
  return false;
  }
}
</script>
    {% for i in content %}
                    <div class="file-content">
                    <div class="file-name" style="width:25%;">{{ i.name }}</div>
                    <div class="file-size" style="width:10%;">{{ i.Filesize }}B</div>
					<div class="file-date" style="width:10%;">{{ i.DownloadDocount }}</div>
                    <div class="file-date" style="width:20%;">{{ i.Datatime }}</div>
                    <div class="file-link" style="width:35%; padding-right: 80px; text-overflow: ellipsis; overflow: hidden;">
                        <span>
                            http://127.0.0.1:9000/s/{{ i.code}}
                        </span>
                    </div>
                    <a href="{% url "delete_file" i.code %}" onclick="return show_confirm()" style="color:#FFF;"><button>Delete File</button></a>
                </div>
    {% endfor %}
{% endblock %}
