{% extends "base.html" %}
{% block content %}
     <P>详细内容页面</P>
    {%if exists%}
        <script type="text/javascript">
            alert('提交的文件名已经存在，请修改文件名再重新提交文件！');
        </script>
    {%endif%}
    {% for i in content %}
                    <div class="file-content">
                    <div class="file-name" style="width:25%;">
		<a href ="{% url "detail" i.code %}">{{ i.name }}</a>
		</div>
                    <div class="file-size" style="width:10%;">{{ i.Filesize }}B</div>
					<div class="file-date" style="width:10%;">{{ i.DownloadDocount }}</div>
                    <div class="file-date" style="width:20%;">{{ i.Datatime }}</div>
                    <div class="file-link" style="width:35%; padding-right: 80px; text-overflow: ellipsis; overflow: hidden;">
                        <span>
                            http://{{i.PCIP}}/s/{{ i.code}}
                        </span>
                    </div>
                    <a href="/{{ i.path }}" style="color:#FFF;"><button>Download</button></a>
                </div>
    {% endfor %}
{% endblock %}
